.container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  }
 

.slider{
  margin-top: 10px;
  width:700px;
  height: 200px;
}
.sliderImg{
  border-radius: 10px;
  width: 700px;
height: 200px;
}
