.container{
  width: 80%;
margin-bottom: 100px;
height: 20%;
margin-left:20%;
}
h1{
  font-size: auto;
}
.supContainer{
  display: flex;
  flex-direction: column;
text-align: center;
width: 80%;
}
.articleImage{
  padding-bottom: 30px;
  height: 220px;

}
