footer{
    display: flex;
    flex-direction: column;
justify-content: center;
font-size: 1.5rem;
    bottom: 0px;
   background-color: #3f51b5;
   margin-top:100px;
   height:50px ;
   width: 100%;
   text-align: center;
   padding-top: 4px;
   border:1px;
    border-radius: 2px;
    color:#ffffff;
}
a{
color: #ffffff;
}


